.home-nav {
    text-align: center;
    color: white;
    z-index:100;
    position:absolute;
    font-size:24px;
    font-weight:bold;
    left:150px;
    top:350px;
}

.para-style1 {
    font-family: "trebuchet MS", serif;
    color: whitesmoke;
    font-size: 12pt;
    text-align: justify;
    line-height: 28px;
    padding: 10px;
    margin-top: 10px;
}

.hyper-link {
    color: whitesmoke;
}